* {
  font-family: Poppins;
}
ul {
  display: flex;
  border-radius: 40px;
  border: 2px solid rgb(6, 81, 147);
  background-color: black;
  padding-inline: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-inline: auto;
  justify-content: space-between;
  width: 400px;
  height: 60px;
  align-items: center;
}
ul:hover {
  border: 2px solid rgb(6, 147, 79);
}
h1:hover {
  color: rgb(6, 81, 147);
}
li {
  list-style: none;
}

a {
  text-decoration: double;
  color: skyblue;
  outline: transparent;
  border-radius: 20px;
  margin-inline: 10px;
  padding: 10px 10px;
}
a:hover {
  color: mediumseagreen;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
body {
  background-color: black;
  color: lightblue;
  font-family: poppins, sans-serif;
}
input {
  margin-top: 40px;
  text-align: center;
  padding: 4px 4px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  outline: transparent;
  background-color: rgb(15, 14, 14);
  color: skyblue;
  border: 1px solid skyblue;
}
#submit {
  margin-left: 4px;
  border: 1px solid lightgreen;
  margin-top: 40px;
  text-align: center;
  padding: 4px 4px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  outline: transparent;
  background-color: rgb(15, 14, 14);
  color: skyblue;
  cursor: pointer;
}

#submit:hover {
  color: lightgreen;
}

label {
  padding: 30px;
  color: #333;
}

select {
  margin-top: 20px;
  text-align: center;
  padding: 4px 4px;
  margin-left: 2px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  outline: transparent;
  background-color: rgb(15, 14, 14);
  color: skyblue;
  border: 1px solid skyblue;
}


select:focus {
  border-color: rgb(36, 211, 115);
}

h1 {
  text-align: center;
  font-size: 50px;
}
#input-container {
  padding: 40px 30px;
  border-radius: 20px;
  border: 2px solid rgb(50, 55, 83);
  justify-self: center;
  align-self: center;
  width: 260px;
}

/* .radio-label{
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

input[type="radio"] {
  width: 20px;
  margin-top: 4px;
}
.radio-group {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
} */