<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple App</title>
    <script type="importmap" defer>
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
      }
    </script>
    <link rel="stylesheet" href="/css/feature-style.css">
  </head>
  <body>
    <header>
      <section id="sec">
        <nav id="nav-bar">
          <ul id="ul-list">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/feature">Features</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <div id="three-container"></div>
    <main>
      <h1>Your Twitter ID</h1>
      <div id="container">
        <div class="inputs">
          <h3>@Random Name</h3>
          <h3>Your post</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            libero rerum amet nulla, dolores, labore quas in totam dolorem,
            distinctio sapiente minus cum praesentium voluptatibus itaque
            eveniet voluptatum sit qui!
          </p>
        </div>
        <div class="inputs">
          <h3>@Random Name</h3>
          <h3>Your post</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            libero rerum amet nulla, dolores, labore quas in totam dolorem,
            distinctio sapiente minus cum praesentium voluptatibus itaque
            eveniet voluptatum sit qui!
          </p>
        </div>
        <div class="inputs">
          <h3>@Random Name</h3>
          <h3>Your post</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            libero rerum amet nulla, dolores, labore quas in totam dolorem,
            distinctio sapiente minus cum praesentium voluptatibus itaque
            eveniet voluptatum sit qui!
          </p>
        </div>
      </div>
    </main>
    <br />
    <footer>
      <section>
        <h2>Contact</h2>
        <p id="footer-para">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut possimus
          quasi
        </p>
      </section>
      <section id="follow">
        <h2>Follow Us On</h2>
        <p id="footer-para">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
          eveniet? Tempora quisquam
        </p>
      </section>
      <section id="follow">
        <h2>Emails</h2>
        <p id="footer-para">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
          dicta excepturi, accusantium
        </p>
      </section>
    </footer>
    <script type="module" src="/js/dynamicModels.js"></script>
  </body>
</html>
