<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple App</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="importmap" defer>
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
    <header>
      <section id="sec">
        <nav id="nav-bar">
          <ul id="ul-list">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/feature">Features</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <div id="three-container"></div>
    <main>
      <section id="content">
        <h1>Welcome To Our Website</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem blanditiis cupiditate dignissimos dolorum iusto dolorem
          sed omnis? Dolorem tempora, odit atque, praesentium rerum voluptatibus
          molestias maxime dicta nemo, quis nesciunt! Unde accusantium ut sunt
          delectus, cupiditate deserunt quibusdam perspiciatis earum. Tempora
          aliquam similique veniam nisi modi consectetur qui accusantium, ex,
          libero itaque ipsam quo deserunt minima provident inventore iste
          perferendis.
        </p>
      </section>
    </main>
    <br />
    <hr />
    <footer>
      <section>
        <h2>Contact</h2>
        <p id="footer-para">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut possimus
          quasi
        </p>
      </section>
      <section id="follow">
        <h2>Follow Us On</h2>
        <p id="footer-para">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
          eveniet? Tempora quisquam
        </p>
      </section>
      <section id="follow">
        <h2>Emails</h2>
        <p id="footer-para">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
          dicta excepturi, accusantium
        </p>
      </section>
    </footer>
    <script type="module" src="/js/Uranus.js"></script>
  </body>
</html>
